<section class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-6 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <div class="p-4">
            <h2 class="tracking-widest text-sm title-font font-medium text-gray-400 mb-1">応募求人: <%= job.department.path.map(&:name).join %></h2>
            <% if admin_signed_in? %>
              <%= link_to job.title, admin_job_path(current_admin, job), class: "title-font text-lg font-medium mb-3 custom-link" %>
            <% elsif recruiter_signed_in? %>
              <%= link_to job.title, edit_recruiter_job_path(current_recruiter, job), class: "title-font text-lg font-medium mb-3 custom-link" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
