<div class="w-full bg-white">
  <div class="relative">
    <div class="px-8 py-4 border-l-2 border-gray-200 border-opacity-60">
      <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">応募日</h2>
      <p class="leading-relaxed text-base mb-2"><%= job_application.created_at.strftime("%Y-%m-%d") %></p>
    </div>
  </div>
</div>
<div class="w-full bg-white">
  <div class="relative">
    <div class="px-8 py-4 border-l-2 border-gray-200 border-opacity-60">
      <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">志望動機</h2>
      <p class="leading-relaxed text-base mb-2"><%= job_application.reason_for_application %></p>
    </div>
  </div>
</div>
<div class="w-full bg-white">
  <div class="relative">
    <div class="px-8 py-4 border-l-2 border-gray-200 border-opacity-60">
      <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">自己PR</h2>
      <p class="leading-relaxed text-base mb-2"><%= job_application.self_promotion %></p>
    </div>
  </div>
</div>
<div class="w-full bg-white">
  <div class="relative">
    <div class="px-8 py-4 border-l-2 border-gray-200 border-opacity-60">
      <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">ステータス</h2>
      <p class="leading-relaxed text-base mb-2"><%= job_application.current_status.name %></p>
    </div>
  </div>
</div>
