<div class="w-full bg-white">
  <div class="relative">
    <div class="px-8 py-4 border-l-2 border-gray-200 border-opacity-60">
      <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">氏名</h2>
      <p class="leading-relaxed text-base mb-2"><%= employee_profile.full_name %></p>
    </div>
  </div>
</div>
<div class="w-full bg-white">
  <div class="relative">
    <div class="px-8 py-4 border-l-2 border-gray-200 border-opacity-60">
      <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">現所属部署</h2>
      <p class="leading-relaxed text-base mb-2"><%= employee_profile.department.path_name %></p>
    </div>
  </div>
</div>
<div class="w-full bg-white">
  <div class="relative">
    <div class="px-8 py-4 border-l-2 border-gray-200 border-opacity-60">
      <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">役職</h2>
      <p class="leading-relaxed text-base mb-2"><%= employee_profile.position.name %></p>
    </div>
  </div>
</div>
