<aside class="relative bg-sidebar w-1/6 hidden sm:block shadow-xl overflow-y-auto h-screen position-fixed flex flex-col items-center">
  <div class="p-3 w-full flex justify-center">
    <%= link_to recruiter_jobs_path(recruiter_username: current_recruiter.username),  class: "flex title-font font-medium items-center text-gray-900 mb-2 md:mb-0" do %>
      <%= image_tag 'logo.png', class: 'w-2/3 h-auto rounded-full', alt: 'NK Job Board Icon' %>
    <% end %>
  </div>
  <nav class="text-white text-base font-semibold pt-3 w-full flex flex-col items-center">
    <div class="">
      <%= link_to "#{@recruiter_department_name}のすべての求人", recruiter_jobs_path(recruiter_username: current_recruiter.username), data: { department_id: '', department_name: "#{@recruiter_department_name}のすべての求人"  }, class: 'block px-4 py-2 mt-2 department-link' %>
      <% @recruiter_sub_departments.each do |department| %>
        <%= link_to department.path.map(&:name).drop(@recruiter_department_depth + 1).join, recruiter_jobs_path(recruiter_username: current_recruiter.username, department: department.id), data: { department_id: department.id, department_name: department.path.map(&:name).drop(@recruiter_department_depth + 1).join }, class: 'block px-4 py-2 mt-2 department-link' %>
      <% end %>
    </div>
  </nav>
</aside>
